body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 1.4;
    background-color: #EEE;
    overflow-x: hidden;
}
.tab-content{
    display: none;
}
#lettre {
    background-color: #F5F6F7;
}
.tab-content.active.flex {
    display: flex;
    justify-content: center;
}
.active {
    display: block;
}
.tab-content {
    position: relative;
    display: none;
}
.tab-content.active{
    display: inline-block
}
.tabs h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    padding-top: 0;
    display: block;
    top: 0;
    margin: 0;
    margin-bottom: 15px;
}
.tabstitle {
    display: inline-block;
    position: relative;
}
.flotant {
    position: fixed;
    top: 0;
    z-index: 3;
    display: none;
    color: grey;
    width: 100%;
    text-align: center;
    background-color: #fff;
}
.flotant :hover {
    color : rgb(153, 134, 75);
}
.flotant .active {
    color: #FEBE10;
    text-decoration: underline;
}
.flotant li {
    margin: 0;
    top: 0;
    display: inline;
}
.flotant ul {
    padding: 8px;
    box-shadow:  -1px -5px 9px 2px black;
}
li, ul {
    list-style: none;
    display: block;
    float: center;
    margin: 0;
    padding: 0;
    text-align: center;
}
a {
    color: gray;
    text-decoration: none ;
}

.tabs li {
    display: inline;
}
.tabs ul {
    text-align: center;
    padding-bottom: 8px;
    
}
.tabs .active a {
    color: #FEBE10;
    text-decoration: underline;
}
.tabs {
    text-align: center;
    position: relative;
    background-color: #fff;
    color: #FEBE10;
    box-shadow:  -1px -5px 9px 2px black;
    z-index: 2;
}
.tabs li :hover{
    color : rgb(153, 134, 75);
}
.fade {
    opacity: 0;
    transition: 0.3s;
}

.in{
    opacity: 1;
}
.fade2 {
    opacity: 0;
    transition: 1.5s;
}

.in2 {
    opacity: 1;
}
.sidebar {
    background-color:rgba(254, 191, 16, 0.11);
    width: 260px;
    flex: 0 0 auto;
    padding: 20px;
}
.sidebar ul {
    text-align: left;
    padding-top: 15px;
    font-weight: 680;
    color: rgb(65, 65, 65);
    padding-left: 8px;
}
.sidebar a {
    color: rgb(245, 184, 30);
}
.sidebar b {
    font-weight: 640;
}
.sidebar li {
    text-align: left;
    font-size: 0.9em;
    font-weight: 400;
    color: rgb(56, 56, 56);
    padding-top: 3px;
    padding-left: 5px;
}
.sidebar progress {
    float: right;
}
#cv {
    background-color:#F5F6F7 ;
}
.footer {
    background-color: rgba(254, 191, 16, 0.438);
    padding:  40px 30px 40px ;
    color: rgb(255, 255, 255);
    font-weight: 450;
    text-align: end;
}
.fixed {
    position: fixed;
    display: inline-block;
}
.ID {
    width: 100px;
    height: auto;
    border-radius: 100%;
    border: 8px solid rgb(245, 204, 93);
    margin: 0 20px;
    position: relative;
    top: 8px;
    z-index: 4;
}
.IDdiv {
    display: outside;
    
}
.progress {
    width: 150px;
    height: 18px;
    border: grey solid 1px;
    float: right;
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 5%;
}
.progression {
    background-color: rgb(231, 182, 47) ;
    margin: 1px;
    height: 90%;
}
ul .sous-titre {
    font-weight: 500;
}
.p78 {
    width: 78%;
}
.p53 {
    width: 53%;
}
.sidebar img {
    position: relative;
    width: 25px;
    height: auto;
    top: 8px;
    margin-right: 9px;
}
.cvparcour {
    padding: 30px;
    width: 730px;
    background-color: rgba(255, 255, 255, 0.568);
}
.titlecomponent {
    font-weight: 600;
    color: #FEBE10;
    font-size: 2em;
    padding-left: 0.5em;
}
hr {
    height: 3px;
    margin: 0.5em 0;
    padding: 0;
    color: #FEBE10;
    background-color: #FEBE10;
    border: 0;
}
.formationcontent {
    padding: 20px;
    padding-bottom: 0;
}
.intitule {
    font-size: 1.4em;
    padding-bottom: 10px;
    
}
.description, .annee{
    color : rgb(116, 116, 116);
    font-size : 1.2em;
    padding-left : 10px
}
.annee {
    color: rgb(77, 77, 77);
    font-weight: 600;
}

.animate__slideInDown {
animation: animate__slideInDown; 
animation-duration: 3s;
overflow: hidden;
}
.corpslettre {
    width: 790px;
    background-color: rgba(255, 255, 255, 0.568);
    padding : 100px;
    padding-top: 50px;
}
.corpslettre p {
    text-align: justify;
}
.corpslettre p::first-letter {
    padding-left: 3em;
}
.expediteurlettre li{
    text-align: left;
    padding-left: 30px;
}
.expediteurlettre {
    padding-bottom: 60px;
}
.objetlettre {
    padding-bottom: 35px;
}
.signature {
    padding-right: 30px;
    margin: 20px;
    text-align: right;
    padding-top: 40px;
}
.lienTexte, .lienProjet a{
    color: rgb(233, 184, 50);;
}
.lienTexte:hover, .lienProjet a:hover {
    color:  rgba(243, 190, 57, 0.699);
}
.logoProjets {
    margin: 5px;
    margin-left: 10px;
    margin-bottom: 0;
}
.logoProjets li {
    display: inline-block;
}
.logoProjets svg{
    color: rgba(121, 121, 121, 0.658);
}
.logoProjets svg:hover{
    color: rgba(243, 190, 57, 0.699);
}
.formationcontent ul{
    text-align: start;
}


@media (max-width: 1050px) {
    #cv {
        flex-direction: column;
    }
    .sidebar {
        display: flex;
        width: 100%;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px 0;
    }
    .cvparcour {
        width: 100%;
        padding: 20px 0;
    }
    .sidebar ul {
        display: block;
        width: 220px;
    }
    .tabs ul {
        font-size: 2em;
    }
    .flotant ul {
        font-size: 2em;
    }
    .flotant ul {
        padding: 1em;
    }
    
}
@media (max-width: 930px) {
    
    .sidebar ul {
        display: block;
        width: 45%;
    }
    .progress {margin-right: 40px;
    }
    ul.sous-titre {
        width: 100%;
    }
    .corpslettre {
        padding: 60px;
    }
    
    
}
@media (max-width: 850px) {
    .tabs h1 {
        font-size: 2em;
        font-weight: 600;
    }
    .sidebar ul {
        display: block;

    }
    .progress {margin-right: 40px;
    }
    
}